/*
  Ditto 2
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


@import "tailwindcss";

@theme {
  --f-body: 'Inter', '-apple-system', 'BlinkMacSystemFont';
}

.ditto-2 {
  --c-bg: #f8f8f8;
  --blue-gradient: radial-gradient(circle at 71% 28%,
      #4b7cee 0%,
      #2562e3 28%,
      #2265ed 100%);


  .card {
    background: var(--blue-gradient);
    border: 0.5px solid rgba(18, 74, 192, .01);
    box-shadow:
      inset 0 0 0 1.5px rgba(255, 255, 255, 0.28),
      0 8px 16px rgba(40, 70, 200, 0.2),
      0 24px 64px rgba(40, 70, 200, 0.25);
  }
}